:root {
	--color-gold: #bdae82;
	--color-black: #000000;
	--color-white: #ffffff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: var(--color-gold);
	transition: background-color 0s ease-in-out 9000s;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 36px;
	color: var(--color-white);
	background-color: var(--color-black);
}

html {
	scroll-behavior: smooth; 
}

.section-title__wrapper {
	display: flex;
	justify-content: center;
	width: 700px;
	margin: 0 auto 60px;
	background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.section-title {
	display: inline-block;
	padding: 0 20px;
	margin: 0 auto;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 80px;
	color: var(--color-gold);
	background-color: var(--color-black);
}

.button {
	display: block;
	width: 220px;
	height: 55px;
	color: var(--color-black);
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	line-height: 40px;
	font-weight: normal;
	text-align: center;
	background: var(--color-gold);
	border: none;
	outline: none;
	transition: color 0.5s;
}

.button:hover {
	color: var(--color-white);
}

.icon {
	width: 50px;
	height: 50px;
	fill: var(--color-white);
	transition: fill 0.5s;
}

.icon:hover {
	fill: var(--color-gold);
}

.container {
	width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

.header-container {
	display: flex;
	background: url('assets/img/header-bg.jpg');
	background-repeat: no-repeat;
	background-position: center 0;
	padding: 20px;		
}

.hero-container {
	margin-bottom: 100px;
	background-image: url('./assets/img/header-bg.jpg');
	background-position: center -90px;
	background-repeat: no-repeat;
	padding: 170px 860px 330px 80px;
}

.logo-link {
	height: 50px;
	text-decoration: none;
}

.hero-title {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 60px;
	line-height: 100px;
	color: var(--color-white);
}

.header-nav {
	margin-left: auto;
}

.nav-list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;	
	width: 500px;	
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-link {
	color: var(--color-white);
	text-decoration: none;
	font-weight: normal;
	font-size: 20px;
	line-height: 50px;
	transition: color 0.5s;
}

.nav-link:hover {
	color: var(--color-gold);
}

.lenguages-container {
	color: var(--color-white);
	font-weight: bold;
	font-size: 20px;
	line-height: 50px;
}

.lang-btn {
	display: inline-block;	
	color: var(--color-white);
	text-decoration: none;	
	font-weight: bold;
	font-size: 20px;
	line-height: 50px;
	transition: color 0.5s;
}

.lang-btn:first-child {
	padding-right: 4px;
}

.lang-btn:last-child {
	padding-left: 4px;
}

.lang-btn:hover {
	color: var(--color-gold);
}

.active {
	color: var(--color-gold);
}

.hero-description {
	max-width: 470px;
	margin-bottom: 25px;
	font-size: 20px;
	line-height: 40px;
}

.skills-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 92px;
	list-style: none;
}

.skills-item {
	width: 320px;
	padding: 100px 20px 0;	
	background-image: url(assets/svg/camera-icon.svg);
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.skills-item:nth-child(2) {
	background-image: url(assets/svg/video-icon.svg);
}

.skills-item:nth-child(3) {
	background-image: url(assets/svg/photo-icon.svg);
}

.skills-item:nth-child(4) {
	background-image: url(assets/svg/mic-icon.svg);
}

.skills-item__title {
	margin: 0 20px 20px;
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
}

.skills-item__description {
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}

.toggle {
	display: flex;
	justify-content: space-between;
	width: 895px;
	margin: 0 auto 60px;
}

.btn-toggle {
	color: var(--color-gold);
	background-color: transparent;
	border: 2px solid var(--color-gold);
}

.collage {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;		
	gap: 25px;
	margin-bottom: 100px;
}

.video-player {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-bottom: 100px;
}

.video-img {
	width: 100%;
}

.video-btn {
	position: absolute;	
}

.icon-video {	
	width: 130px;
	height: 130px;
}

.price-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 25px;
	margin-bottom: 100px;
}

.price-item {	
	width: 450px;
	padding: 40px;
	text-align: center;
	border: 3px solid var(--color-gold);
}

.price-item__title {
	margin: 0 0 20px;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 28px;
	line-height: 56px;
}

.price-number {
	display: block;
	margin: 0 0 20px;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 48px;
	color: var(--color-gold);
}

.price-item__advantage {
	display: block;
}

.btn-price {
	margin: 40px auto 0;
}

.contacts-container {
	padding: 60px 20px 195px 970px;
	background-image: url(assets/img/contacts-bg.jpg);
	background-repeat: no-repeat;
	/* background-size: auto 700px;
	background-position: center center; */
}

.contacts-title {
	padding: 0;
	margin: 0 0 40px;
	background-color: transparent;
}

.contacts-input {
	display: block;
	width: 450px;
	padding: 3px 18px;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	line-height: 40px;
	font-weight: normal;
	color: var(--color-gold);
	border: 2px solid var(--color-gold);
	background: rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
}

::placeholder {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	line-height: 40px;
	font-weight: normal;
	color: var(--color-gold);
}

.contact-textarea {
	height: 100px;
	resize: none;
	margin-bottom: 30px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 20px;
}

.footer-copyright {
	font-size: 20px;
	line-height: 50px;
	word-spacing: 15px;
}

.footer-year {
	font-size: 18px;
}

.footer-link {
	font-size: 20px;
	line-height: 50px;
	color: var(--color-white);
	text-decoration: none;
	transition: color 0.5s;
}

.footer-link:hover {
	color: var(--color-gold);
}

.footer-github {
	font-size: 19px;
	margin-right: 20px;
}

.sosial-link {
	display: inline-block;
	margin-left: 15px;
	margin-top: 12px;
	text-decoration: none;
}

.sosial-link:first-child {
	margin-left: 0;
}

.footer-icon {
	width: 32px;
	height: 32px;	
}
