* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: #1a191f;
	font-family: "Open Sans", sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.icon {	
	width: 100px;
	height: 40px;
	fill: #ffffff;
	opacity: 0.6;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.icon:hover {
	opacity: 1;
}

.header__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
	min-height: 130px;
}

.header__logo {
	font-family: 'Architects Daughter', cursive;
	font-size: 38px;
	text-decoration: none;
	color: #fdb851;
}

.header__logo_big {
	font-size: 54px;
	color: #ffffff;
}

.search-form {
	position: relative;
}

.search-clear {
	position: absolute;
	top: 0;
	right: 8px;
	font-size: 20px;
	line-height: 35px;
	cursor: pointer;
}

.invisible {
	color: transparent;
	cursor: auto;
}

.header__search {
	padding: 8px 22px 8px 8px;
	border: 2px solid #1a191f;
	border-radius: 5px;	
	outline: none;
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70px;	
	font-size: 14px;
	color: rgba(250, 250, 250, 0.6);
}

.footer__link {
	font-size: 14px;
	color: rgba(250, 250, 250, 0.6);
	text-decoration: none;
}

.footer__link:hover,
.footer__link:focus {
	color: #ffffff;
}


/* Стили для фильмов на главной */

.movies__wrapper {
	min-height: calc(100vh - 232px);
	padding: 15px 0;
	border-top: 1px dashed #fdb851;
	border-bottom: 1px dashed #fdb851;
}

.movies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* Карточка фильма на главной */

.movie {
	width: 240px;
	margin: 10px;
	position: relative;
}

.movie__picture-inner {
	position: relative;
	height: 360px;
}

.movie__picture {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.movie__picture_darkened {
	background-color: #000000;
	opacity: 0.1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	height: 100%;
	z-index: 1;
}

.movie__picture_darkened:hover {
	background-color: grey;
	cursor: pointer;	
}

.movie__info {
	padding: 10px 0;
}

.movie__title {
	font-size: 16px;
	color: #ffffff;
}

.movie__category {
	font-size: 14px;
	color: #fdb851;
}

.movie__rating {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 10px;
	right: 10px;	
	border-radius: 50%;
	width: 36px;
	height: 36px;
	background-color: #1a191f;
	color: #ffffff;
	font-size: 14px;
}

.movie__rating_green {
	border: 1px solid green;
}

.movie__rating_orange {
	border: 1px solid orange;
}

.movie__rating_red {
	border: 1px solid red;
}


/* Стили для модального окна */

.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 2;
	overflow-y: auto;	
	overflow-x: hidden;
}

.popup__body {
	max-width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	z-index: 2;
}

.popup__content {
	background-color: #dddddd;
	color: #000000;
	max-width: 1000px;
	padding: 10px;
	border-radius: 5px;	
}

.popup__title-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px 5px;
}

.popup__title {
	font-size: 22px;
	line-height: 22px;
	padding-right: 10px;
}

.popup__close {
	font-size: 30px;
	color: #000;
	text-decoration: none;
	transition: 0.4s ease-out;
	cursor: pointer;
}

.popup__close:hover {
	transform: rotate(180deg);
	font-weight: bold;
}

.popup__info-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	border: 1px dashed #fdb851;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	margin-bottom: 10px;
	padding: 20px;
}

.popup__image-inner {		
	width: 300px;
	margin-right: 20px;
	flex-shrink: 0;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.popup__image {
	width: 100%;	
	height: 100%;
	object-fit: cover;
}

.popup__table {	
	display: grid;
	text-align: left;
}

.popup__table-cell {	
	padding-right: 20px;	
	padding-bottom: 7px;
	vertical-align: top;
	font-weight: 400;
}

.popup__movie-description {
	background-color: #ffffff;
	border: 1px dashed #fdb851;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	padding: 20px;
}

.popup-error {
	width: 150px;
	background-color: #cccccc;
	color: #000000;
	z-index: 100;
}

/* Стили для комментариев */

.popup__comments-title {
	font-size: 20px;
	padding: 25px 20px 10px 20px;
}

.comments-list__item {
	font-size: 14px;
	background-color: #ffffff;
	border: 1px dashed #fdb851;
	padding: 20px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.comments-list__author {
	position: relative;
	font-size: 16px;
	font-weight: bold;
	text-align: right;
	margin-bottom: 10px;
}

.comments-list__author::before {
	content: "";
	position: absolute;
	bottom: 20%;
	left: 0;
	width: 100px;
	border-bottom: 2px solid #fdb851;
}

/* Стили для формы отправки комментариев */

.popup__add-comments {	
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 1px dashed #fdb851;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	padding: 30px 20px 20px;
}

.popup__author-inner {
	position: relative;
	margin-bottom: 25px;
}

.popup__comment-inner {
	display: flex;
	position: relative;
	align-items: center;
}

.popup__comment-label {
	position: absolute;
	top: -18px;
	left: 0;	
	font-size: 12px;
}

.popup__comment-field {
	flex-grow: 1;
	width: 100%;
	resize: vertical;
	max-height: 400px;
	padding: 5px 10px;
	font: inherit;
	font-size: 14px;
	border: 1px dashed #fdb851;	
	margin-right: 10px;
}

.popup__comment-field::placeholder {
	font-style: italic;
}

.popup__form-button {
	font-size: 14px;
	border: 0;
	padding: 13px 22px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #fdb851;
	margin-bottom: 1px;
	box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
}

.popup__form-button:hover {
	background-color: #ffab2d;
}

.popup__form-button:active {
	box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

/*Стили для ошибки загрузки страницы*/

.error-wrapper {
	padding-top: 30px;
}

.error_img {
	display: block;
	width: 300px;
	margin: 0 auto;
	padding-right: 70px;
}

.error-text {
	text-align: center;
	color: rgba(250, 250, 250, 0.6);
	line-height: 30px;
}


@media screen and (max-width: 760px) {

	body {
		font-size: 14px;
	}

	.popup__info-wrapper {
		flex-wrap: wrap;
		justify-content: center;
	}

	.popup__image-inner {
		width: 280px;
		margin: 15px 0 10px;
	}

	.popup__table {
		display: table;
		width: 100%;
	}
}

@media screen and (max-height: 520px) and (orientation: landscape) {
	.error_img {
		display: none;
	}

	.error-wrapper {
		padding-top: 0;
	}
}